Flask
Flask-Login
Flask-SQLAlchemy
Flask-Bcrypt
Flask-WTF
WTForms
requests
beautifulsoup4
lxml
pandas
python-dotenv
paypalrestsdk
razorpay
Flask-Mail
PyMySQL
Flask-Limiter
openpyxl
xlsxwriter
