Flask
Flask-Login
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Mail
Flask-WTF
WTForms
requests
beautifulsoup4
lxml
python-dotenv
paypalrestsdk
razorpay
pandas
openpyxl
xlsxwriter
redis
dramatiq
dramatiq[redis]
uuid
validators
flask-limiter
PyMySQL
Flask-Limiter
openpyxl
xlsxwriter
setuptools
email_validator